/* DISABLE the horizontal scroll feature */
html, body {
    max-width: 100%;
    overflow-x: hidden;
    font-family: 'Kanit', sans-serif;
    text-align: center;
}

:root {
    --primary-color: #fff; /* try #212121 also for dark mode */
    --font: sans-serif;
    --secondary-color: orangered;
}

/* Heading font-size for smaller screen */
@media (max-width: 460px) {
  h1 {
    font-size: 3.5rem;
    line-height: 1.2;
  }
}

h2 {
  font-size: 3.25rem;
}

/* Scale full image within the container */
.card-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

/* Blockquote text should be readable for smaller screen */
.blockquote {
  font-size: 1.5vw;
}

/* Center container */
.container {
  margin: auto;
  width: 80%;
  padding: 60px;
}

/* Set font-size to smaller screen */
@media (max-width: 460px) {
  #img-caption {
    font-size: 1.4rem;
  }
}

/* Set margin to smaller screen */
@media (max-width: 460px) {
  #main {
    margin: 0;
  }
}

/* Set font-size within footer to smaller screen */
@media (max-width: 460px) {
  h4 {
    font-size: 1.4rem;
  }
}

* {
  margin: 0;
  padding: 0;
}

/* Timeline Container */
.timeline {
  background: var(--primary-color);
  margin: 20px auto;
  padding: 20px;
  display: flex;
  justify-content: center;
}

/* Outer Layer with the timeline border */
.outer {
  border-left: 2px solid #333;
}

/* Timecard container */
.timecard {
  position: relative;
  margin: 0 0 20px 20px;
  padding: 10px;
  background: #333;
  color: var(--primary-color);
  border-radius: 8px;
  max-width: 450px;
}

/* Information about the timeline */
.info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Title of the card */
.title {
  color: var(--secondary-color);
  position: relative;
}

/* Timeline dot  */
.title::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 999px;
  left: -39px;
  border: 3px solid var(--secondary-color);
}

/* Link starts with #477ca7 and changes color to #74638f when clicked */
a {
  color: #477ca7;
}

a:visited {
  color: #74638f;
}
